@import "./style.functions.scss";
$main-font-size: 30px;
$delete: #c5e6e3;
@mixin main-panel {
    height: 60vh;
    padding: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
    display: inline-block;
    font-size: $main-font-size;
    border-radius: 10px;
    margin: 10px;
    @include elevationfn(5);
}

body {
    font-family: "Alef", sans-serif;
    padding: 0.3em;
    padding-top: 10px;
    height: 90vh;
    background: linear-gradient(#d7d2ee, #e2b0c0);
    h2 {
        margin-top: 5px;
        color: #690f2b;
        font-size: x-large;
        padding: 10px;
        @include elevationfn(5);
    }
    div#main-div-id {
        @include main-panel();
        width: 50vw;
        background-color: #d7d2ee;

        button.db-action-button {
            cursor: pointer;
            font-family: "Alef", sans-serif;
            font-size: $main-font-size - 10px;
            margin: 10px;
            padding: 10px;
            background-color: #bbb2e0;
            border: none;
            transition: box-shadow 100ms ease-in-out;
            @include elevationfn(2);
            &:hover {
                @include elevationfn(10);
            }
        }
        input.db-action-input {
            cursor: pointer;
            font-family: "Alef", sans-serif;
            font-size: $main-font-size - 10px;
            width: 90%;
            margin: 10px;
            padding: 10px;
            background-color: #e2dff1;
            border: none;
            outline: none;
            transition: box-shadow 100ms ease-in-out;
            //  @include elevationfn(2);
            @include elevationinsetfn(1);
            &:hover,
            &:focus,
            &:active {
                // box-shadow: inset 2px 2px 2px 2px black;
                @include elevationinsetfn(2);
            }
        }
        input.db-action-id-input {
            width: 40%;
            &::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                //color: rgb(179, 179, 179);
                opacity: 0.5; /* Firefox */
            }
        }
        div.db-message-div {
            font-family: "Alef", sans-serif;
            font-size: $main-font-size - 10px;
            width: 90%;
            margin: 10px;
            padding: 10px;
            background-color: #c7c0e7;
            border-radius: 10px;
            min-height: 1.5rem;
            div.message-text {
                animation: appear 300ms forwards;
            }
        }
    }

    div#console-div-id {
        width: 30vw;
        background-color: #c7c19a;
        @include main-panel();
        &::-webkit-scrollbar-thumb {
            -webkit-appearance: none;
            appearance: none;
            color: #690f2b;
        }
        div#console-logger {
            font-size: 17px;
            white-space: pre;
            overflow-y: scroll;
            max-height: 39vh;
            &::-webkit-scrollbar-thumb {
                -webkit-appearance: none;
                appearance: none;
                color: #690f2b;
            }
        }
    }
}
div.db-records-list {
    animation: appear 300ms forwards;
    font-size: 14px;
    line-height: 95%;
    cursor: pointer;
    li {
        &:hover {
            color: #7e052b;
        }
    }
}
@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
